<h1>Create a comment</h1>

<%= form_for  @comment, url: post_comments_path do |f| %>

  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.hidden_field :post_id, :value => @post_id%>
  <%= f.submit %>
<% end %>