<h1 class="login">Sign Up</h1>
<% if flash.present? %>
  <ul class = "registration-notice">
    <li><%= flash[:notice] %></li>
  </ul>
<% end %>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="error-messages ">
      <h2>Form is Invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="login">
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, placeholder: 'First Name' %>
    </p>

    <p>
      <%= f.label :email %><br>
      <%= f.text_field :email, placeholder: 'Username' %>
    </p>
    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password, placeholder: '' %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </p>
    <p class="button">
      <%= f.submit %>
    </p>
  </div>
<% end %>