<div class="question_container">
  <h1>Create your Question</h1>
    <%= form_for @new_post do |f|  %>
      <%= f.label :title%><br>
      <%= f.text_field :title,class:"title-cell", placeholder: 'Title' %><br>
      <%= f.label :content%><br>
      <%= f.text_area :content,class:"text-cell"%>
      <%= f.submit %>
    <% end %>
    <%= link_to 'Back', posts_path %>

</div>
