<div class="login">
  <h1>Title: <%= @post.title %> -<%= @post.user.name %></h1>


  <h3> Question: </h3>
    <p><%= @post.content %></p>
    <ul>
      <h4>Comments</h4>
      <% @post.comments.each do |post| %>
        <li><p><%= post.content  %> <h5>-<%= post.user.name %> </h5></p></li>
        <hr>
      <% end %>
    </ul>
    <%=link_to "comment", new_post_comment_path(@post.id)   %>
  <hr>


  <h3> Answers: </h3>
    <ul> <!--   The shit show of how comments are displayed for an answer -->
    <% @post.answers.each do |answer| %>
      <h3><li><%= answer.content %></li></h3> <h5>-<%= answer.user.name %></h5>
      <h4>Comments</h4>
        <% answer.comments.each do |comment| %>
      <hr>
          <%= comment.content %><h5>-<%= comment.user.name  %></h5>
        <% end %>
      <%=link_to "comment", new_post_comment_path(answer.id)%>
      <hr>
      <br>
    <% end %>
    </ul>


  <hr>
  <h3> Your Answer </h3>
  <%= form_for @new_post do |f|  %>
    <%= f.text_area :content, class:"text-cell", placeholder: 'Your Answer' %><br>
    <%= f.hidden_field :parent_id, :value => @post.id %>
    <%= f.submit %>
  <% end %>
</div>