<h1>Title: <%= @post.title %></h1><br>
<hr>
<h3> Question: <%= @post.content %></h3>
  <ul>
    <% @post.comments.each do |post| %>
      <li><p><%= post.content  %></p></li>
    <% end %>
  </ul>
  <%=link_to "comment", new_post_comment_path(@post.id)   %>
<hr>

<h3> Answers: </h3>
<ul>
<% @post.answers.each do |answer| %>
  <h4><li><%= answer.content %></li></h4>
  <%=link_to "comment"  %>
  <h5>@post.comments.each </h5>
  <br>
<% end %>
</ul>
<!-- Post Comments go here -->

<!-- person who posted -->
<hr>
<h3> Your Answer </h3>
<%= form_for @new_post do |f|  %>
  <%= f.text_area :content, class:"text-cell", placeholder: 'Your Answer' %><br>
  <%= f.hidden_field :parent_id, :value => @post.id %>
  <%= f.submit %>
<% end %>